body {
    /*overflow: hidden*/
}

.doc-asset {
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
}

.doc-asset[data-t="text.action"] {
    cursor: pointer
}

.doc-asset[data-t="image.action"] {
    cursor: pointer
}

.asset-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #222222;
}

.asset-nav {
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #222222;
}

/****************************/

.Lindeberg01-html p {
    color: #ffffff;
    font-size: 0.9em;
    text-shadow: 1px 1px #222222;
}

.Lindeberg01-html h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 1px 1px #222222;
}
