@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

* {
    font-family: 'Droid Serif', serif;
    /*font-size: 12pt;*/
}

body {
   
    overflow: hidden;
    background: #000000 !important;
}

#oxshow-document {
    position:absolute;
    overflow: auto;
    width: 1293px;
    height: 720px;
    margin: 0 auto;
    /*transform: translate(-50%, 5%);*/
}

.node-container {
    height: 720px;
}

.asset-document {
    margin: 0px; /*!important;*/
    padding: 0px; /*!important;*/
    background-color: transparent; /*!important;*/
}

.asset-document[data-t="text.action"] {
    cursor: pointer
}

.asset-document[data-t="image.action"] {
    cursor: pointer
}

.asset-text-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.asset-text-default {
    font-size: 1em;
    color: white;
}

.asset-text-dark {
    font-size: 1em;
    color: #222222;
}

.asset-nav {
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.asset-html-content {
    height: 30em;
}

.node-container {
    overflow: hidden;
}

.node-container-link {
    font-size: 4rem;
    line-height: 2rem;
    left: 48%;
    top: -4rem;
    position: relative;
    margin: 0rem;
    padding:0rem;
}

.link-to-node-up {
}

.light-color {
    color: #ffffff !important;
}

.dark-color {
    color: #222222 !important;
}


/****************************
node 2                       
*****************************/
.train-0-text {
    text-align: center;
}

.train-0-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 4rem;
    display: block;
    text-align: center;
}

.train-0-text .story_by {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin: 0.8rem 0em 0.1rem 0em;
    font-style: italic;
    
}

.train-0-text .author {
    font-size: 3rem;
    display: block;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}

/****************************
node 3                       
*****************************/
.train-1-text {
    text-align: center;
}

.train-1-text .title {
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
}

.train-1-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    text-align: center;
}

/****************************
node 4                       
*****************************/
.station-text {
    text-align: center;
}

.station-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 2em;
    text-align: center;
}

/****************************
node 5                       
*****************************/

.blank-1-text {
    text-align: center;
}

.blank-1-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
    color: #222222;
}
.blank-1-text p{
    font-size: 1em;
    text-align: center;
    color: #222222;
    font-style: italic;
}


/****************************
node 6                       
*****************************/

.node-6-text {

}

.node-6-text .title {
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
}
















