@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

* {
    font-family: 'Droid Serif', serif;
    /*font-size: 12pt;*/
}

body {
    
    overflow: hidden
}

.asset-document {
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
}

.asset-document[data-t="text.action"] {
    cursor: pointer
}

.asset-document[data-t="image.action"] {
    cursor: pointer
}

.asset-text-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.asset-text-default {
    font-size: 1em;
    color: white;
}

.asset-text-dark {
    font-size: 1em;
    color: #222222;
}

.asset-nav {
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.asset-html-content {
    height: 10em;
}


/****************************
node 1                       
*****************************/
.train-0-text {
    text-align: center;
}

.train-0-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 4rem;
    display: block;
    text-align: center;
}

.train-0-text .story_by {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin: 0.8rem 0em 0.1rem 0em;
    font-style: italic;
    
}

.train-0-text .author {
    font-size: 3rem;
    display: block;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}

/****************************
node 2                       
*****************************/
.train-1-text {
    text-align: center;
}

.train-1-text .title {
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
}

.train-1-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    text-align: center;
}

/****************************
node 3                       
*****************************/
.station-text {
    text-align: center;
}

.station-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 2em;
    text-align: center;
}

/****************************
node 4                       
*****************************/

.blank-1-text {
    text-align: center;
}

.blank-1-text .title{
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
    color: #222222;
}
.blank-1-text p{
    font-size: 1em;
    text-align: center;
    color: #222222;
    font-style: italic;
}


/****************************
node 5                       
*****************************/

.station-1-text {

}

.station-1-text .title {
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    text-align: center;
}

















.Lindeberg01-html p {
    color: #ffffff;
    font-size: 0.9em;
    text-shadow: 1px 1px #222222;
}

.Lindeberg01-html h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 1px 1px #222222;
}

